@page "/Teams"

@using VesterbroMMS.Data

<div class="navbar subNavbar">
    <ul>
        <li><button disabled>Add member to team</button></li>
        <li><button disabled>Remove member to team</button></li>
        <li><button disabled>Add coach to team</button></li>
        <li><button disabled>Remove coach from team</button></li>
    </ul>
</div>
